vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/
temp/

# Legacy ZF1
demos/
extras/documentation

#Eclipse files
.project
.buildpath
.settings/
.DS_Store
*.log
.idea/

#GitHub
auth.json

cache.properties