<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true"
         stopOnFailure="false"
         processIsolation="false"
         backupGlobals="false"
         syntaxCheck="true"
>
	<testsuites>
	    <testsuite name="All tests">
	        <directory>./unit/</directory>
	    </testsuite>
	    <testsuite name="User tests">
	        <directory>../src/module/User/tests</directory>
	    </testsuite>
	    <testsuite name="Task Management tests">
	        <directory>../src/module/TaskManagement/tests</directory>
	    </testsuite>
	    <testsuite name="Accounting tests">
	        <directory>../src/module/Accounting/tests</directory>
	    </testsuite>
	</testsuites>
</phpunit>