<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="unit/Bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true"
         stopOnFailure="false"
         processIsolation="false"
         backupGlobals="false"
         syntaxCheck="true"
>
	<testsuites>
	    <testsuite name="Application unit tests">
	        <directory>../src/module/Application/tests/unit</directory>
	    </testsuite>
	    <testsuite name="Task Management unit tests">
	        <directory>../src/module/TaskManagement/tests/unit</directory>
	    </testsuite>
	    <testsuite name="Accounting unit tests">
	        <directory>../src/module/Accounting/tests/unit</directory>
	    </testsuite>
	    <testsuite name="Kanbanize unit tests">
	        <directory>../src/module/Kanbanize/tests/unit</directory>
	    </testsuite>
	</testsuites>
	<php>
		<env name="APPLICATION_ENV" value="acceptance"/>
	</php>
</phpunit>