<div style="position: fixed; bottom: 2em; right: 2em">
	<a class="btn btn-primary btn-fab btn-raised mdi-content-add" data-toggle="modal" data-target="#createTaskModal" id="createTaskBtn"></a>
</div>
<div class="container" id="content" ng-controller="TaskListCtrl">
	<div class="page-header">
		<h1>Items</h1>
	</div>
	<div class="alert" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	</div>
	<ul style="list-style: none; padding: 0; margin: 0">
		<li class="panel panel-default" ng-repeat="task in tasks">
			<div class="panel-heading">{{task.subject}}</div>
			<div class="panel-body">
				<ul style="list-style: none; padding: 0; margin: 0">
					<li>{{'Created at ' + task.createdAt.toLocaleString()}}</li>
					<li>that.statuses[task.status]</li>
					<li>estimation</li>
					<li>Members: {{task.members.length}}</li>
					<li>				if (task._links.complete != undefined) {
					actions.push('<button data-href="' + task._links.complete + '" data-action="completeTask" class="btn btn-default">Complete</button>');
				}
				if (task._links.accept != undefined) {
					actions.push('<button data-href="' + task._links.accept + '" data-action="acceptTask" class="btn btn-default">Accept</button>');
				}
				if (task._links.execute != undefined) {
					actions.push('<button data-href="' + task._links.execute + '" data-action="executeTask" class="btn btn-default">Ongoing</button>');
				}
				if (task._links.estimate != undefined) {
					$e = '';
					for(i = 0; i < task.members.length; i++) {
						if(task.members[i].estimation != undefined && task.members[i].estimation.value != -2) {
							$e = task.members[i].estimation.value;
						}
					};
					actions.push('<a data-href="' + task._links.estimate + '" data-credits="' + $e + '" data-toggle="modal" data-target="#estimateTaskModal" class="btn btn-default">Estimate</a>');
				}
				if (task._links.join != undefined) {
					actions.push('<a href="' + task._links.join + '" class="btn btn-default" data-action="joinTask">Join</a>');
				}
				if (task._links.unjoin != undefined) {
					actions.push('<a href="' + task._links.unjoin + '" data-action="unjoinTask" class="btn btn-default">Unjoin</a>');
				}
				if (task._links.assignShares != undefined) {
					actions.push('<button class="btn btn-default">Assign share</button>');
				}
				if (task._links.edit != undefined) {
					actions.push('<a data-href="' + task._links.edit + '" data-subject="' + task.subject + '" data-toggle="modal" data-target="#editTaskModal" class="btn btn-default mdi-content-create"></a>');
				}
				if (task._links['delete'] != undefined) {
					actions.push('<a href="' + task._links['delete'] + '" data-action="deleteTask" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>');
				}
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>
<div class="modal fade" id="createTaskModal" tabindex="-1" role="dialog" aria-labelledby="createTaskModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Create new task</h4>
				</div>
				<div class="modal-body">
					<div class="alert" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="form-group"> 
						<label for="streamID">Stream</label>
						<select name="streamID" class="form-control" required="required">
							<option value=""></option>
							<option value="00000000-1000-0000-0000-000000000000">O.R.A.</option>
							<option value="00000000-1100-0000-0000-000000000000">Open Governance<option>
						</select>
					</div>
					<div>
						<label for="subject">Subject</label>
						<input type="text" name="subject" class="form-control" required="required">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="editTaskModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Edit the task</h4>
				</div>
				<div class="modal-body">
					<div class="alert" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="form-group">
						<label for="subject">Subject</label>
						<input id="editTaskSubject" type="text" name="subject" class="form-control" required="required">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id='estimateTaskModal' tabindex="-1" role="dialog" aria-labelledby="estimateTaskModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class='sr-only'>Close</span></button>
					<h4 class="modal-title">Estimate the task</h4>
				</div>
				<div class="modal-body">
					<div class="alert" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="form-group">
						<label for="estimation">Credits</label>
						<input type="number" id="estimateTaskCredits" pattern="/^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$/" class="form-control">
					</div>
					<div class="checkbox"><label><input type="checkbox" id="estimateTaskSkip">Skip</label></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>